<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
        <meta name="author" content="order by dede58.com"/>
		<title>我的购物车-小米商城</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<style>
			img{
				width: 80px;
				height: 80px;
			}
		</style>
		<script>
			$(document).ready(function () {
				$('#shop_now').click(function () {
					var selected_goods=new Array();
					var data = new Array();
					$('input[name="selected_goods"]:checked').each(function(){
						selected_goods.push($(this).val());//向数组中添加元素
					});
					selected_goods.forEach(function (value) {
						var element = {
							orderId : value,
							count : $('#'+value).val()
						}
						data.push(element)
					})
					console.log(JSON.stringify(data))
					$.ajax({
						url:'/orders/buy',
						type:'post',
						data:JSON.stringify(data),
						success:function (result) {
						    $('#successResult').html(result)
						},
						error:function () {
							alert('投递失败')
						}
					})
				})
				$('input[name="selected_goods"]').click(function () {
					var selected_goods=new Array();
					$('input[name="selected_goods"]:checked').each(function(){
						selected_goods.push($(this).val());//向数组中添加元素
					});
					$('#goods_number').html(selected_goods.length)
					var goods_all_price = 0
					selected_goods.forEach(function (value, index) {
						var temp_price = parseFloat($('#goods_price_'+value).val()) * parseFloat($('#'+value).val())
						goods_all_price += temp_price
					})
					$('#goods_all_price').html(goods_all_price)
				})
				$('.shuliang').blur(function () {
					var count = $(this).val()
					var orderId = $(this).attr('id')
					$.ajax({
						url:'/orders/check',
						type:'post',
						data:{
							orderId : orderId,
							count : count
						},
						success:function (result) {
								if (result != -1) {
									$('#' + orderId).val(result)
								}
								var single_price = $('#goods_price_'+orderId).val()
								var price = parseFloat(single_price) * parseFloat($('#' + orderId).val())
								$('#single_price_'+orderId).html(price)
						},
						error:function (error) {
							alert("查询失败!")
						}
					})
				})

				$("#checkAll").click(function() {
					if (this.checked) {
						$("input[name='selected_goods']:checkbox").each(function() { //遍历所有的name为selectFlag的 checkbox
							$(this).attr("checked", true);
						})
					} else {   //反之 取消全选
						$("input[name='selected_goods']:checkbox").each(function() { //遍历所有的name为selectFlag的 checkbox
							$(this).attr("checked", false);
							//alert("f");
						})
					}
				})
			})
		</script>
	</head>
	<body>
    <div id="successResult">
	<!-- start header -->
	<!--end header -->

<!-- start banner_x -->
		<div class="banner_x center">
			<a href="./index.html" target="_blank"><div class="logo fl"></div></a>
			
			<div class="wdgwc fl ml40">我的购物车</div>
			<div class="wxts fl ml20">温馨提示：产品是否购买成功，以最终下单为准哦，请尽快结算</div>
			<div class="dlzc fr">
				<ul>
					<li><a th:href="'/user/'+${User.id}" target="_blank">个人中心</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class="xiantiao"></div>
		<div class="gwcxqbj">
			<div class="gwcxd center">
				<div class="top2 center">
					<div class="sub_top fl">
						<input type="checkbox" value="quanxuan" class="quanxuan" id="checkAll"/>全选
					</div>
					<div class="sub_top fl">商品名称</div>
					<div class="sub_top fl">单价</div>
					<div class="sub_top fl">数量</div>
					<div class="sub_top fl">小计</div>
					<div class="sub_top fr">操作</div>
					<div class="clear"></div>
				</div>
				<input type="hidden" id="ordersList_length" th:value="${ordersSize}">
				<div class="content2 center" th:each="order : ${ordersList}">
					<div class="sub_content fl ">
						<input type="checkbox" th:value="${order.getId()}" class="quanxuan" name="selected_goods"/>
					</div>
					<div class="sub_content fl"><img th:src="${order.getGoods().getGoodsImage().large_src}"></div>
					<div class="sub_content fl ft20"><span th:text="${order.getGoods().getGoods_name()}+' '+${order.getGoodsVersion().goods_detail}+' '+${order.getColor().getColor_name()}"></span></div>
					<div class="sub_content fl "><span th:text="${order.getGoodsVersion().goods_price}"></span></div>
					<div class="sub_content fl">
						<input type="hidden" th:id="'goods_price_'+${order.getId()}" th:value="${order.getGoodsVersion().goods_price}">
						<input class="shuliang" th:id="${order.getId()}" type="number" value="1" step="1" min="0" >
					</div>
					<div class="sub_content fl"><span th:id="'single_price_'+${order.getId()}" th:text="${order.getGoodsVersion().goods_price}"></span></div>
					<div class="sub_content fl"><a href="#">×</a></div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="jiesuandan mt20 center">
				<div class="tishi fl ml20">
					<ul>
						<li><a href="./liebiao.html">继续购物</a></li>
						<li>|</li>
						<li>共<span th:text="${ordersSize}"></span>件商品，已选择<span id="goods_number">0</span>件</li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="jiesuan fr">
					<div class="jiesuanjiage fl">合计（不含运费）：<span id="goods_all_price">0.00元</span></div>
					<div class="jsanniu fr"><input class="jsan" type="button" id="shop_now" name="jiesuan"  value="去结算"/></div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
			
		</div>

  

	
	<!-- footer -->
	<footer class="center">
			
			<div class="mt20">小米商城|MIUI|米聊|多看书城|小米路由器|视频电话|小米天猫店|小米淘宝直营店|小米网盟|小米移动|隐私政策|Select Region</div>
			<div>©mi.com 京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号 京网文[2014]0059-0009号</div> 
			<div>违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</div>
		</footer>
    </div>
	</body>
</html>
