<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="order by dede58.com"/>
	<title>小米商城-个人中心</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
<!--	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#update_info').click(function () {
				var User = {
					id : $('#id').val(),
					username : $('#username').val(),
					password : $('#password').val(),
					tel : $('#tel').val(),
					signature : $('#signature').val(),
					hobby : $('#hobby').val(),
					address : $('#address').val(),
				}
				var data ={
					_method : 'put',
					User : User
				}
				//alert(JSON.stringify(data))
				$.ajax({
					type : "post",
					contentType : "application/x-www-form-urlencoded",
					url : "/user",
					data : data,
					success:function (result) {
						//alert('success')
						alert(JSON.stringify(result))
					},
					error:function () {
						alert('修改失败!')
					}
				})
				// $(document).ready(function () {
				// 	$('#delGoods').click(function () {
				// 		var IDs = [];
				// 		$("input[name='IDs']:checked").each(function (i) {
				// 			IDs[i] = $(this).val();
				// 		});
				// 		$.ajax({
				// 			type : 'post',
				// 			url : '/goods',
				// 			contentType : 'application/x-www-form-urlencoded',
				// 			data : {
				// 				_method : 'delete',
				// 				IDs : IDs
				// 			},
				// 			success : function (result) {
				// 				alert(JSON.stringify(result));
				// 				location.reload();
				// 			},
				// 			error : function(){
				// 				alert("error!");
				// 			}
				// 		})
				// 	})
				// })
			})
		})
	</script>
</head>
<body>
<!-- start header -->
<header>
	<div class="top center">
		<div class="left fl">
			<ul>
				<li><a href="http://www.mi.com/" target="_blank">小米商城</a></li>
				<li>|</li>
				<li><a href="">MIUI</a></li>
				<li>|</li>
				<li><a href="">米聊</a></li>
				<li>|</li>
				<li><a href="">游戏</a></li>
				<li>|</li>
				<li><a href="">多看阅读</a></li>
				<li>|</li>
				<li><a href="">云服务</a></li>
				<li>|</li>
				<li><a href="">金融</a></li>
				<li>|</li>
				<li><a href="">小米商城移动版</a></li>
				<li>|</li>
				<li><a href="">问题反馈</a></li>
				<li>|</li>
				<li><a href="">Select Region</a></li>
				<div class="clear"></div>
			</ul>
		</div>
		<div class="right fr">
			<div class="gouwuche fr"><a th:href="'/orders/'+${User.getId()}">我的订单</a></div>
			<div class="fr">
				<ul>
					<li><a th:href="'../user/'+${User.getId()}" target="_blank">个人中心</a></li>
					<li>|</li>
					<li><a th:href="'../user/loginOut/'+${User.getId()}" target="_blank" >注销</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</header>
<!--end header -->
<!-- start banner_x -->
<div class="banner_x center">
	<a href="./index.html" target="_blank"><div class="logo fl"></div></a>
	<a href=""><div class="ad_top fl"></div></a>
	<div class="nav fl">
		<ul>
			<li><a href="/goods/type/3">小米手机</a></li>
			<li><a href="/goods/type/3">红米</a></li>
			<li><a href="/goods/type/4">平板·笔记本</a></li>
			<li><a href="/goods/type/5">电视</a></li>
			<li><a href="/goods/type/5">盒子·影音</a></li>
			<li><a href="/goods/type/7">路由器</a></li>
			<li><a href="/goods/type/7">智能硬件</a></li>
			<li><a href="#">服务</a></li>
			<li><a href="#">社区</a></li>
		</ul>
	</div>
	<div class="search fr">
		<form action="" method="post">
			<div class="text fl">
				<input type="text" class="shuru"  placeholder="小米6&nbsp;小米MIX现货">
			</div>
			<div class="submit fl">
				<input type="submit" class="sousuo" value="搜索"/>
			</div>
			<div class="clear"></div>
		</form>
		<div class="clear"></div>
	</div>
</div>
<!-- end banner_x -->
<!-- self_info -->
<div class="grzxbj">
	<div class="selfinfo center">
		<div class="lfnav fl">
			<div class="ddzx">订单中心</div>
			<div class="subddzx">
				<ul>
					<li><a th:href="'/orders/'+${User.id}" >我的订单</a></li>
					<li><a href="">意外保</a></li>
					<li><a href="">团购订单</a></li>
					<li><a href="">评价晒单</a></li>
				</ul>
			</div>
			<div class="ddzx">个人中心</div>
			<div class="subddzx">
				<ul>
					<li><a href="./self_info.html" style="color:#ff6700;font-weight:bold;">我的个人中心</a></li>
					<li><a href="">消息通知</a></li>
					<li><a href="">优惠券</a></li>
					<li><a href="">收货地址</a></li>
				</ul>
			</div>
		</div>
		<div class="rtcont fr">
			<div class="grzlbt ml40">我的资料</div>
			<div class="subgrzl ml40"><span>昵称</span><span><input type="text" id="username" name="username" th:value="${User.username}"></span><span><a href="">编辑</a></span></div>
			<div class="subgrzl ml40"><span>手机号</span><span><input type="text" id="tel" name="tel" th:value="${User.tel}"> </span><span><a href="">编辑</a></span></div>
			<div class="subgrzl ml40"><span>密码</span><span><input type="password" id="password" name="password" th:value="${User.password}"> </span><span><a href="">编辑</a></span></div>
			<div class="subgrzl ml40"><span>个性签名</span><span><input type="text" id="signature" name="signature" th:value="${User.signature}"> </span><span><a href="">编辑</a></span></div>
			<div class="subgrzl ml40"><span>我的爱好</span><span><input type="text" id="hobby" name="hobby" th:value="${User.hobby}"> </span><span><a href="">编辑</a></span></div>
			<div class="subgrzl ml40"><span>收货地址</span><span><input type="text" id="address" name="address" th:value="${User.address}"> </span><span><a href="">编辑</a></span></div>
			<input type="hidden" id="id" th:value="${User.id}">
			<div class="subgrzl ml40"><span>确认</span><span><input type="button" id="update_info" value="确认修改">
			</span></div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- self_info -->

<footer class="mt20 center">
	<div class="mt20">小米商城|MIUI|米聊|多看书城|小米路由器|视频电话|小米天猫店|小米淘宝直营店|小米网盟|小米移动|隐私政策|Select Region</div>
	<div>©mi.com 京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号 京网文[2014]0059-0009号</div>
	<div>违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</div>
</footer>
</body>
</html>